.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: hsl(200, 15%, 85%);
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.screen {
  aspect-ratio: 375/812;
  height: 90vh;
  background-color: hsl(200, 15%, 95%);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 200px;
  position: relative;
}

.cartridge {
  position: absolute;
  width: 375px;
  border: 1px solid blue;
  background-color: #fff;
  /* box-shadow: 10px 5px 5px red; */
}
