.linkBlock {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.link {
  text-transform: capitalize;
}

.section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid hsl(200, 15%, 90%);
  padding: 160px;
}
