.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: hsl(200, 15%, 85%); */
  align-items: center;
  justify-content: center;
}

.screen {
  aspect-ratio: 375/812;
  height: 90vh;
  background-color: hsl(200, 15%, 95%);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 200px;
  position: relative;
}

.graphContainer {
  width: 500px;
  height: 300px;
  background-color: white;
  position: relative;
  border: 1px solid hsl(200, 15%, 90%);
}

.marker {
  position: absolute;
  width: 1px;
  background-color: blue;
  bottom: 50%;
  top: 50%;
}

.hoverDetails {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.values {
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .label {
    font-size: 12px;
    font-weight: 550;
  }
}
